<p id="notice"><%= notice %></p>



<div class="page-header">
<h1><%=@course.title%></h1>
<% i=1%>
<% @course.lectures.each do |lecture| %>
<% if(lecture.id == @lecture.id)%>
  <h2>Lecture <%=i%> </h2>
  <%end%>
<%i+=1%>
  <%end%>
  <h3>Content:</h3>
  <p> <%= @lecture.content %></p>
  <h3>Attachment:</h3>
  <p>   <%= link_to "uploads/lecture/attachment/"+@lecture.id.to_s+"/"+@lecture.attachment.to_s, @lecture.attachment.to_s, :target=> "_blank" %></p>
</div>
<div class="row">
<div class="col-xs-6">
<div class="col-xs-3">
<%= link_to like_course_lecture_path(@course,@lecture), class:"", method: :put, remote: :true do %>
  <span class=" like_btn glyphicon glyphicon-thumbs-up">
  </span>
  <%end%>
  <span class="likes_count">
  <%= @lecture.get_upvotes.size%>
  </span>
  </div>
  <div class="class="col-xs-3">
  <%= link_to spam_course_lecture_path(@course,@lecture), method: :post do %>
  <span class="glyphicon glyphicon-flag"></span>
  <%end%>
  <span id="spam"><%= flash[:spam]%></span>
  </div>
 </div>
 </div>
<h3>Comments:</h3>
  <% i=1%>
  <% @lecture.comments.each do |comment| %>
  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%=comment.user.name%></h3>
  </div>
  <div class="panel-body">
  <div class="row">
  <div class="col-xs-12">
  <div class="col-xs-6">
  <%=comment.text%> 
  </div> 
  <div class="col-xs-6">
  <% if(comment.user.id == current_user.id) %>
  <%= link_to course_lecture_comment_url(@course.id,@lecture.id,comment.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
  <button type="button" class="btn btn-danger">Delete Comment</button>
  <%end%>
  <% end %> 
  </div>
  </div>
  </div>
  </div>
  <div class="panel-footer"><%=comment.updated_at%></div>
</div>
<% i+=1%>
  <% end %> 
<%= render 'comments/form', comment: @comment %>
<br/>

<div class="row">
<div class="col-xs-6">
<div class="col-xs-3">
<% if can? :update, Lecture %>
<%= link_to edit_course_lecture_path(@course.id, @lecture.id) do%>
  <button type="button" class="btn btn-primary"> Edit Lecture</button>
<%end%>
<%end%>
</div>
<div class="col-xs-3">
<% if can? :destroy, Lecture %>
<%= link_to course_lecture_url, method: :delete, data: { confirm: 'Are you sure?' } do %>
  <button type="button" class="btn btn-danger">Delete Lecture</button>
<%end%>
<%end%>
</div>
</div>
</div>

<br/>
<%= link_to 'Back', course_url(@course.id) %>
<script>


</script>